<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
    <link rel="stylesheet" href="styles/main.css">
</head>
<body>
    <div class="response-area">
    
    <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script> 
    <dotlottie-player src="https://lottie.host/52da8779-b649-4810-8e2e-646a703ed100/rFo0b2bflE.json" background="transparent" speed="1" style="width: 300px; height: 300px;" loop autoplay></dotlottie-player>  
        
    </div>
    <h2>Enter Longitude and Latitude to check weather statistics</h2>

    <div class="form-container" >
        <form class="form" action="/weather" method="post">
            <label class="label" for="longitude">Longitude:</label>
            <input class="input" type="number" id="longitude" name="longitude" placeholder="Example: 1.12345..." step="0.0000000000000001" required>
            <br><br>
            
            <label class="label" for="latitude">Latitude:</label>
            <input class="input" type="number" id="latitude" name="latitude" placeholder="Example: 1.12345..." step="0.0000000000000001" required>
            <br><br>
            

            <input class="submit" type="submit" value="Check Weather Status">
           
        </form>
        
    </div>
</body>
</html>